
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 10vh;
  background-color: #374859;
  padding: 0 10em;
}
.buttons-wrapper a:not(:last-child) {
  margin-right: 0.5em;
}
.btnSignIn {
  composes: btn from "../../assets/vars.css";
  text-decoration: none;
  margin-right: 0.5em;
}
.logout {
  composes: btn from "../../assets/vars.css";
  width: inherit;
}