.overlay {
    composes: overlay from '../RegForm/RegForm.module.css';
}
.loginPage {
    composes: regPage from '../RegForm/RegForm.module.css';
}
.loginPage__rightSide {
    composes: regPage__rightSide from '../RegForm/RegForm.module.css';
}
.loginForm {
    composes: form from '../RegForm/RegForm.module.css';
}
.header {
    composes: header from '../RegForm/RegForm.module.css';
}
.formList {
    composes: formList from '../RegForm/RegForm.module.css';
}
.formListItem {
    composes: formListItem from '../RegForm/RegForm.module.css';
}
.inputWrapper {
   composes: controlWrapper from '../RegForm/RegForm.module.css';
}
#password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.errorField {
    composes: errorField from '../RegForm/RegForm.module.css';
}

.loginBtn {
    composes: btn from "../../assets/vars.css";
    margin-top: 50px;
}
.regField {
    composes: regField from '../RegForm/RegForm.module.css';
}