html {
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color);
}

.app {
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  height: calc(100vh - 10vh);
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.content {
  /*grid-area: content;*/
}