 /*Colors*/
:root {
    --main-color: #374859;
    --link-color: #73cff8;
    --link-secondary-color: #4d90fe;
    --font-color: #fff;
}

.mainBgc {
    color: #374859;
}
.mainColor {
    color: #374859;
}
.linkColor {
    color: #73cff8;
}
.linkBgc {
    background-color: #73cff8;
}
.fontColor {
    color: #fff;
}
 .fontBgc {
     background-color: #fff;
 }

 .btn {
     font-family: "Roboto", sans-serif;
     background: var(--link-secondary-color);
     color: var(--font-color);
     text-transform: uppercase;
     outline: 0;
     width: 100%;
     border: 0;
     padding: 15px;
     font-size: 14px;
     cursor: pointer;
 }
 .btn:hover,.btn:active {
     background: var(--link-color);
 }